@media (min-width: 421px) {
    body {
        text-align: center;
        &:before {
            position: static;
        }
    }
    #calculator {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        width: 400px;
        height: 700px;
        margin: 40px auto;
        z-index: 0;
        background: rgba(255,255,255,0.2);
        border-radius: 30px;
        box-shadow: 0 20px 80px rgba(0,0,0,0.2);
        .mask {
            top: 60px;
            bottom: 60px;
            left: 10px;
            right: 10px;
        }
        &:before,
        &:after {
            visibility: visible;
        }
    }
}
